/* .Cellar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: gray;
  border-radius: 10px;
}

.BottleRow {
  display: flex;
  justify-content: center;
  align-items: center;
}
*/